/**
 * Common Form styles
 */


/* Classes
---------------------------------------------------------------------------------------- */

//forms
.app-form {
	//error messages
	small.form-error {
		display: block;
		width: 100%;
		margin: 0;
		padding-top: rem-calc(12);
		font-style: italic;
		color: $app_alert_color;
	}
}

button.app-btn {
	padding: rem-calc(16 30);
	background: $app_secondary_color;
	font-size: rem-calc(12);
	text-transform: uppercase;
	&:hover, &:active, &:focus { background: darken($app_secondary_color, 10%); }
	&:disabled, &:hover:disabled { background: #999; }
}

//separator line
hr {
	margin: rem(10) 0;
	border: 0;
	line-height: rem(1);
	font-family: "Helvetica Neue";
	font-size: rem(14);
	text-align: center;
	//ensure 1px gap between borders
	box-sizing: content-box;
	color: #999;
	//langs
	&.es:after { content: "o"; }
	&.en:after { content: "or"; }
	//other symbols
	&.ss:after { content: "§"; }
}
//fallback for opera
x:-o-prefocus, hr:after { content: ""; }
