/**
 * Helpers SCSS
 */

.d-none       { display: none; }
.d-invisible  { visibility: hidden; opacity: 0; }
.d-block      { display: block; }
.d-iblock     { display: inline-block; }
.p-relative   { position: relative; }
.w-100        { width: 100%; }
.h-100        { height: 100%; }
