/**
 * Helpers SCSS
 */

.d-none       { display: none; }
.d-invisible  { visibility: hidden; opacity: 0; }
.d-table      { display: table; }
.d-table-cell { display: table-cell; vertical-align: middle; }
.p-relative   { position: relative; }
.w-100        { width: 100%; }
.h-100        { height: 100%; }
