/**
* Main Layout
*/

html {
	background: #222;
	height: 100%;
}

body {
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
	background: #ccc;
	font-family: $primary-font;
	font-size: 16px;
}

div#app {
	padding: 30px;
	color: #fff;
}

// Custom autofills chrome
@-webkit-keyframes autofill {
	to {
		color: white;
		background: rgba(255, 255, 255, 0.2);
	}
}

input:-webkit-autofill {
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
}

//no-script fallback (uses classes fixed and center)
noscript {
	display:block;
	width: 100%;
}
