/**
 * Main Layout
 */

html, body {
  background: #222;
}

body {
    height: 100%;
    font-family: $primary-font;
    font-size: 16px;
}

div#app {
    height: 100%;
    padding: rem(60);
    color: #fff;
}

header {
    color: lighten(rgb(134, 3, 129), 10%);
    padding-bottom: rem(20);
}

footer {
    color: darken(rgb(196, 0, 71), 5%);
    padding-top: rem(20);
}

//no-script fallback (uses classes fixed and center)
noscript {
	display:block;
	width: 100%;
}