/**
 * App Settings
 */

@import "sass-md-colors/colors/variables";

//fonts
$primary-font : "Montserrat", Arial, sans-serif;
//colors
$primary-color   : #fff;
$secondary-color : #009be1;

//breakpoints
$sm        : 0 640px;
$md-down   : 0 1024px;
$md        : 640px 1024px;
$lg        : 1025px 1280px;
$lg-up     : 1025px;
$xlg       : 1281px 1640px;
$xxlg      : 1641px;
$landscape : orientation landscape;
$portrait  : orientation portrait;
