/**
 * App Utils
 * @author Nicolas Pulido <nicolas.pulido@crazycake.cl>
 */

/* Functions
---------------------------------------------------------------------------------------- */

/**
 * String Replacer
 * @param  {string} $string - The input string
 * @param  {string} $search - The string to look for
 * @param  {string} $replace - Replace Token
 * @return {string}
 */
@function str-replace($string, $search, $replace: '') {

	$index: str-index($string, $search);
	//@debug $index, $replace;
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

/* Mixins
---------------------------------------------------------------------------------------- */

//Load Fonts
@mixin load-font($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf otf svg) {

	$src: null;
	$font-path : "../fonts/" + $path + "/" + $path;
	//@debug "Including font: " + $font-path;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($font-path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

//background cover image (3rd argument to use custom background to small & medium screen)
@mixin bg-cover($image-path, $attachment: fixed) {
	background: url($image-path) no-repeat center center $attachment;
	background-size: cover;
}

//background image retina support
@mixin bg-retina($file, $type, $width, $height, $version:'0.1') {

	background-image: url($file + '.' + $type + "?v=" + $version);

	//set suffix
	$suffix: "";
	@if $type != "svg" {
		$suffix: "@2x";
	}
	//set url
	$url: $file + $suffix + '.' + $type + "?v=" + $version;

	//MediaQueries
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($url);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

/* Placeholders
---------------------------------------------------------------------------------------- */

//inline block property
%absolute-block {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

//center an element
%block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//element centered in middle of screen (check safari!)
%position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//vertical align middle
%align-middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

//text wrap with overflow hidden
%text-ellipsis {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Other Helpful classes
---------------------------------------------------------------------------------------- */

//Vue framework
[v-cloak] { visibility: hidden; }

.invisible { visibility: hidden; opacity: 0; }
.w-100     { width: 100%; }
.h-100     { height: 100%; }

