# Linux
*~
*.bak
*.log

# OSX
.DS_Store

# PHPStorm
.idea/*

# Apache & Environment
!.htaccess
.env

# Build & Packages
node_modules
bower_components
vendor
tmp

# App
app/*.html
app/assets/*.css
app/assets/*.js