/**
 * Helper styles
 */

.d-invisible
	visibility hidden
	opacity 0
.d-none
	display none
.d-block
	display block
.d-flex
	display flex
.d-inline-block
	display inline-block

.p-relative
	position relative
.p-absolute
	position absolute

.c-pointer
	cursor pointer
.c-blocked
	cursor not-allowed
.no-interaction
	pointer-events none

.text-left
	text-align left
.text-center
	text-align center
.text-right
	text-align right

.overflow-x-auto
	overflow-x auto
.overflow-x-hidden
	overflow-x hidden

// ++ Vue Transitions

.fade-enter-active
	transition opacity .4s ease

.fade-leave-active
	transition all .4s ease
	opacity .4

.fade-enter, .fade-leave-to
	opacity 0

