/**
 * Helper styles
 */

.g-d-none
	display none

.g-d-invisible
	visibility hidden
	opacity 0

.g-p-relative
	position relative

.g-text-left
	text-align left

.g-text-center
	text-align center

.g-text-right
	text-align right
