/**
 * Layout
 **/

// normalize
@import "modern-normalize/modern-normalize.css"

// globals

*, *::before, *::after
	margin 0

html
	height 100%
	overflow-x hidden
	background lightGrey

body
	height auto
	min-height 100%
	overflow-x hidden
	color black
	text-rendering optimizeSpeed

*:focus
	outline none

*:not(input):not(textarea)
	-webkit-user-select none
	-webkit-touch-callout none

a, a:visited
	text-decoration none
	background-color transparent
	-webkit-tap-highlight-color transparent
	color green

a:not([class])
	text-decoration-skip-ink auto

ul[class],
ol[class]
	padding 0
	list-style none

option
	color black

img
	display block
	max-width 100%
	border-style none

input,
button,
textarea,
select
	margin 0
	padding 0
	font inherit
	line-height 1.15
	appearance none
	-webkit-appearance none

// Reset buttons default styles
button
	border none
	background transparent
	cursor pointer
	tap-highlight-color transparent
	-webkit-tap-highlight-color transparent

button, input
	overflow visible

input, textarea
	background transparent
	border none
	border-radius none

textarea
	resize none
	overflow auto

// Edge, remove default cross in inputs
input-ms-clear
	display none

// Chrome autofill
*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus
	transition background-color 5000s ease-in-out 0s
	-webkit-box-shadow 0 0 0px 1000px transparent inset
	-webkit-text-fill-color inherit

// Js disabled
noscript p
	position fixed
	top 5%
	left 0
	width 100%
	text-align center

// App wrapper
#app
	min-height 100%
