/**
 * Layout
 **/

// normalize
@import "modern-normalize/modern-normalize.css"

// globals
html
	height 100%
	overflow-x hidden
	background lightGray

body
	height auto
	min-height 100%
	overflow-x hidden
	color #222

a, a:visited
	text-decoration none
	color crimson

option
	color gray

button
	-webkit-appearance none
	-webkit-user-select none
	appearance none
	outline none
	border none
	background transparent
	cursor pointer

// disable border highlight in inputs
*:focus
	outline none

*:not(input):not(textarea)
	-webkit-user-select none
	-webkit-touch-callout none

// disable border highlight in inputs
inputfocus,
selectfocus,
textareafocus,
buttonfocus
	outline none

// Edge, remove default cross in inputs
input-ms-clear
	display none

// chrome autofill
*:-webkit-autofill,
*:-webkit-autofill:hover,
*:-webkit-autofill:focus
	-webkit-text-fill-color gray
	-webkit-box-shadow 0 0 0px 1000px transparent inset
	transition background-color 5000s ease-in-out 0s

// no-script
noscript p
	position fixed
	top 5%
	left 0
	width 100%
	text-align center

// app wrapper
#app
	min-height 100%
