doctype html
html(lang="en")
	head

		meta(charset="utf-8")
		meta(name="robots" content="index,follow")
		meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")

		title Vue webapp

		//- favicons
		link(rel="icon" type="image/png" href="images/favicons/favicon.png")
		link(rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png")

		//- css bundle
		link(id="style" rel="stylesheet" type="text/css" href="stylus/entry.styl")

	body

		//- app wrapper
		#app

		//- js bundle
		script(type="module" src="entry.js")

		noscript
			p This site requires Javascript enabled in your browser.
