<!-- Index wrapper -->
<div class="index">

	<ul>
		<li>Foundation: <span class="success badge">Ok</span></li>
		<li>FontAwesome: <i class="fa fa-check-square"></i></li>
        <li>Vue: <span v-text="message" v-bind:style="style"></span> </li>
	</ul>

</div>
