<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />

	<title>Static Webapp</title>

	<link rel="icon" type="image/png" href="images/favicons/favicon.png" />
	<link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" />

	<!-- Windows Platform -->
	<meta name="application-name" content="Static Webapp" />
    <meta name="msapplication-TileColor" content="#efefef" />
    <meta name="msapplication-TileImage" content="images/favicons/mstile.png" />

	<!-- build:css assets/app.min.css -->
	<link rel="stylesheet" type="text/css" href="assets/app.css">
	<!-- endbuild -->

</head>
<body>

	<!-- Main wrapper -->
	<div id="wrapper">

		{{> header }}

        {{> body }}

		{{> footer }}

	</div>

	<!-- build:js assets/app.min.js -->
	<script type="text/javascript" src="assets/app.js"></script>
	<!-- endbuild -->

	<noscript class="app-no-js app-fixed text-center">
        This site requires Javascript enabled in your browser.
	</noscript>

</body>
</html>
